<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sparql_query.name %>
</p>

<p>
  <b>Body:</b>
  <%= @sparql_query.query %>
</p>

<p>
  <b>Endpoint_id:</b>
  <%= @sparql_query.endpoint %>
</p>


<%= link_to 'Edit', edit_sparql_query_path(@sparql_query) %> |
<%= link_to 'Back', sparql_queries_path %>
