


<%= javascript_include_tag "sparql_queries" %>

<%= javascript_tag do %>
  window.sparqlEndpoint = '<%= j @sparql_query.endpoint %>';
  window.sparqlQuery = '<%= j @sparql_query.query %>';
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sparql_query.name %>
</p>

<p>
  <b>Query:</b>
  <%= @sparql_query.query %>
</p>

<p>
  <b>Endpoint:</b>
  <%= @sparql_query.endpoint %>
</p>

<div class='queryArea' id='query'>
  <div id='queryText'>
    <form>
      <input onclick='submitquery(); return false;' id='submitQuery' text='Submit Query' type='submit'>
    </form>
  </div>
</div>
<div class='bigmap' id='map'></div>
<div id='tableWrap'></div>

<%#
%div.queryArea#query
  %div#querySelection 
    %form{:onsubmit => "return false;"}
      - @endpoint.sparql_queries.each do |query|
        %input{:class => "querySubmit", :type => "submit", :name => query.id, :value => query.name, :onclick => "setQuery(this); return false;"}
        %input{:type => "hidden", :id => "queryText" + query.id.to_s, :value => query.body} 

  %div#queryText
    %form{:onsubmit => "submitquery(); return false;"}
      %textarea#queryTextArea
      %input{:id => "submitQuery", :type => "submit", :text => "Submit Query"}
%>

<%= link_to 'Edit', edit_sparql_query_path(@sparql_query) %> |
<%= link_to 'Back', sparql_queries_path %>



