
:javascript
  window.sparqlURL = "#{@endpoint.sparql_url}";


%p#notice= notice

%p
  %b Name:
  %div= @endpoint.name

%p
  %b Sparql url:
  %div= @endpoint.sparql_url

%div.queryArea#query
  %div#querySelection
    %form{:onsubmit => "return false;"}
      - @endpoint.sparql_queries.each do |query|
        %input{:class => "querySubmit", :type => "submit", :name => query.id, :value => query.name, :onclick => "setQuery(this); return false;"}
        %input{:type => "hidden", :id => "queryText" + query.id.to_s, :value => query.body} 

  %div#queryText
    %form{:onsubmit => "submitquery(); return false;"}
      %textarea#queryTextArea
      %input{:id => "submitQuery", :type => "submit", :text => "Submit Query"}

%div.bigmap#map

%div#tableWrap

= link_to 'Edit', edit_endpoint_path(@endpoint)
|
= link_to 'Back', endpoints_path


